
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content1 %}

<h1 class="my-4 text-center text-danger"> <u> CRUD OPERATION  </u></h1>

    <hr>
{% for a in image %}
<br>
<div class="row">
<div class="container" >
    <div class="container" >
        
       <center><div class="card" style="width: 18rem; display: flex;" >
            <img src="{{a.image.url}}" class="card-img-top" alt="..." style="display: flex;">
            <div class="card-body">
              <h5 class="card-title"><span class="text-danger">Name: </span>{{a.name}}</h5>
              <p class="card-text"><span class="text-danger"> Description:</span>{{a.description}}</p>
         <p style="font-size: 9px;"><span class="text-danger">URL:</span> {{a.image.path}}</p>
         <p>Copy pase the url in browser you can see the images</p>
         <a href="edit/{{a.id}}" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
         <a href="delete/{{a.id}}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
            </div>
        </div></center> <br>
          <br>
    </div>
</div>
</div>
    {% endfor %}
{% endblock content1 %}
 